
<div class="jumbotron">
<h1>Welcome to Pintato</h1>
<p>Click here to <%= link_to "Buy a Pintato", "#" , class: "btn btn-primary btn-lg" %></p>
</div>
<p>Don't forget to buy your <em>pintato</em>.</p>
